/* NORMAL LAYOUT STYLING FILE (style.css) */

@font-face {
    font-family: "geist";
    src: url("../css/fonts/geist.ttf");
}
@font-face {
    font-family: "geistmono";
    src: url("../css/fonts/geistmono.ttf");
}
@font-face {
    font-family: "cause";
    src: url("../css/fonts/cause.ttf");
}
@supports (gap: 30px) {
html {
    --text-color: rgba(230, 230, 230, 1);
    color: var(--text-color);
    background: linear-gradient(rgba(61, 60, 78, 1), rgba(41, 31, 66, 1));
    background-attachment: fixed;
    font-family: "geist";
}
.navbar {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 24px;
    font-family: "cause";
}
.content {
    padding-top: 100px;
}
.navbtn {
    width: 75px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
}
.navbtn:not(:first-child) {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
}
.navbtn:not(:last-child) {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
}
.navbtn:is(.logo) {
    width: fit-content;
    padding: 5px;
}
.logo img {
    width: 125px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "cause";
}
a {
    color: var(--text-color);
}
pre, code {
    font-family: "geistmono";
}
pre code {
    background-color: transparent;
    border: none;
}
code {
    font-size: 14px;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid black;
    padding: 2px;
    margin: 0 2px;
}
li {
    padding-block: 3px;
}
.unbulleted-list {
    list-style-type: none;
    margin-block: 3px;
}
.navbtn, .button, .tag,
.box, .cbox,
pre {
    border: 2px solid rgba(230, 230, 230, 0.5);
    background-color: rgba(20, 15, 20, 0.5) !important;
    color: rgba(230, 230, 230, 1);
    backdrop-filter: blur(3px);
    border-radius: 15px;
}
.box, .cbox, .cbox summary::before, 
.button, .navbtn, .tag {
    transition: 0.2s;
}
#card:hover, .cbox:hover,
.button:hover, .navbtn:hover, .tag:hover {
    border: 2px solid rgba(230, 230, 230, 0.8);
    box-shadow: 1px 1px 3px;
}
.tags {
    font-family: "geist";
}
.cbox summary {
    display: flex;
    list-style: none;
    cursor: pointer;
    flex-grow: 1;
    user-select: none;
    padding: 0;
}
.cbox summary::before {
    content: "▶";
    transform: translateX(3px) translateY(0px) rotate(0); /* me when unicode arrow has padding on the right */
    margin: 2px 10px 0 0;
}
details[open] summary::before {
    transform: translateX(0px) translateY(-2px) rotate(90deg);
}
.cbox summary::-webkit-details-marker,
.cbox summary::marker,
.mof--hidden {
    display: none;
}
.cboxcontent {
    padding: 2%;
}
[data-icon],
.rf--hidden {
    display: inline-block;
}
[data-icon] {
    vertical-align: -2.5px;
}
h1 [data-icon],
h2 [data-icon], 
h3 [data-icon] {
    margin-right: 5px;
}
[data-icon="material-symbols:arrow-back-rounded"],
[data-icon="material-symbols:shuffle"],
[data-icon="material-symbols:arrow-forward-rounded"] {
    width: 25px;
    height: 25px;
    vertical-align: -5.5px;
}
@media (min-width: 1024px) {
    .content {
        font-size: 19px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .post img {
        max-width: 80%;
    }
}
@media (max-width: 1024px) {
    .navbtn {
        width: auto;
        height: 30px;
    }
    .navbtn #name {
        display: none;
    }
    .navbtn [data-icon] {
        width: 30px;
        height: auto;
    }
    .logo img {
        width: 90px;
    }
    .content {
        padding-top: 75px;
    }
}
}
