html {
    color: white;
    font-family: sans-serif;
    background-size: 100% 300px, auto;
    background: black;
}
a {
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.mof--hidden {
    display: inline-block;
}
.rf--hidden,
[data-icon] {
    display: none;
}
.navbtn,
.navbtn a {
    display: table-cell;
    text-decoration: none;
}
.head,
.section {
    padding-top: 16px;
    padding-bottom: 16px;
}
.head.blog #title {
    padding: 0;
}
.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.blog img {
    display: block;
    max-width: 100%;
    margin: auto;
}
.blog p,
.blog li {
    line-height: 1.5;
}
.box, .cbox {
    margin: 10px;
    padding: 15px;
}
.cboxcontent {
    padding: 2%;
}
.cboxcontent img,
.cboxcontent a img {
    image-rendering: pixelated;
    padding-left: 2px;
    padding-right: 2px;
    transition: 0.2s;
    border: none;
}
.box, .cbox,
.navbtn, .button, .tag,
pre {
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    background-color: black;
    text-decoration: none;
}
.navbtn, .button, .tag,
pre {
    padding: 5px;
}
.tag {
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
    border-radius: 5px 5px 5px 5px;
}
.pagination {
    font-weight: bold;
    padding: 10px;
}
.pagination .button {
    margin: 2px;
}
summary {
    cursor: pointer;
    user-select: none;
}
.footer {
    text-align: center;
    padding: 16px;
}
@media (max-width: 1024px) {
    html {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width: 1024px) {
    .content {
        margin-left: 25%;
        margin-right: 25%;
    }
}